


<div class = "form-inline form-group">
	<label id = "hello" class="col-sm-offset-0 control-label">Hello {{username}}</label>
	<a role="button" class="col-sm-offset-0 btn btn-danger" href="/logout/">Logout</a>
</div>


<h1>Similar Products</h1>
<a class="btn btn-default col-sm-offset-0" role="button" href = "../home/">Home</a>
{{#if isOwner}}
  	<a class="btn btn-default col-sm-offset-0" role="button" href = "/categories/">Categories</a>
	<a class="btn btn-default col-sm-offset-0" role="button" href = "/products/">Products</a>
	<a class="btn btn-default col-sm-offset-0" role="button" href = "/analytics/">Analytics</a>
	<a class="btn btn-default col-sm-offset-0" role="button" href = "/similarproducts/">Product Similarity</a>
{{/if}}
<a class="btn btn-default col-sm-offset-0" role="button" href = "/productsbrowsing/">Products Browsing</a>
<a class="btn btn-default col-sm-offset-0" role="button" href = "/buyshoppingcart/">Buy Shopping Cart</a>


{{#if isOwner}}
<br><br>

Top 100 Similar Product Pairs 

<table>
 <thead>
  <tr>
     <th>Rank</th>
     <th>Product A</th>
     <th>Product B</th>
     <th>Cosine Similarity</th>
  </tr>
 </thead>
 <tbody>




{{#each similarities}}
	
  <tr>
     <td>{{inc @index}}</td>
     <td>{{this.a}}</td>
     <td>{{this.b}}</td>
     <td>{{this.similarity}}</td>
  </tr>


{{/each}}


 </tbody>
</table>



{{else}}
	<h2>This page is available to owners only.</h2>
{{/if}}